<footer class="bottom-0 left-0 right-0 ph4-ns">

  <div class="mw-100 ma2-ns pt5-l pt1">

    <div class="cf">

      <div class="fl dn db-l w-third tl pt4-ns">

        <img src="{{site.baseurl}}/img/xtramile.png" alt="xtramile recordings logo" class="mw3" />


      </div>

      <div class="fl w-third-l w-100 tc-l">

        <p class="f6 courier gray ph3-l ph3-m ph1 pt5-l pt3">
          <a class="black-80" href="https://www.facebook.com/noncanon555/">Facebook</a> <a class="black-80" href="https://twitter.com/noncanon555?lang=en">Twitter</a> <a class="black-80" href="mailto:noncanon555@gmail.com">Email</a>
        </p>

      </div>

      <div class="fl w-third-l w-100 tr-l">

        <p class="f6 courier gray ph3-l ph3-m ph2 pt5-l pt3">
          Copyright {{ 'now' | date: "%Y" }}, Non Canon
        </p>

      </div>

      <div class="fl dn-ns w-20 tl pt4-ns pt6 mt3">

          <img src="img/xtramile.png" alt="xtramile recordings logo" class="mw3" />


        </div>

    </div>

  </div>

</footer>
