<nav id="nav" role="navigation" class="cf fixed-l top-0-l pt4 z-1 left-2-l right-2-l">


  <div class="main-nav f4-ns f5 pl3-ns fl-ns dn dn-m courier">
    <a class="ph2-ns ph1 no-underline black fw5 dim" href="{{site.baseurl}}/" title="Home">home</a>
    <a class="ph2-ns ph1 no-underline black dim" href="https://noncanon.bandcamp.com/" title="Music">music</a>
    <a class="ph2-ns ph1 no-underline black dim" href="{{site.baseurl}}/videos" title="Videos">videos</a>
    <a class="ph2-ns ph1 no-underline black dim" href="{{site.baseurl}}/shows" title="shows">shows</a>
    <a class="ph2-ns ph1 no-underline black dim" href="{{site.baseurl}}/shop" title="shop">shop</a>
    <a class="ph2-ns ph1 no-underline black dim" href="mailto:noncanon555@gmail.com" title="contact">contact</a>

  </div>


</nav>

<nav id="mobile-head" class="dn-l tl">

  <div class="cf">


    <div class="w-75 fl">
      <a href="{{site.baseurl}}/" title="Home"><img id="nc-logo--mob" src="{{site.baseurl}}/img/logo-color.png" class="absolute z-999" /></a>
    </div>

    <div class="w-25 fr tr">
      <img id="nav-menu" src="{{site.baseurl}}/img/menu.png" class="mw3" />
      </label>
    </div>


  </div>

  <div id="nav-wrapper" class="bg-black h-100 w-100 fixed top-0 bottom-0 left-0 right-0">

    <p id="nav-close" class="courier gray f4 tc pt5">
      close
    </p>

    <nav class="flex flex-column tc f3 mt5 courier">

      <a class="pv3 no-underline white" href="{{site.baseurl}}/music" title="Music">music</a>
      <a class="pv3 no-underline white" href="{{site.baseurl}}/videos" title="Videos">videos</a>
      <a class="pv3 no-underline white" href="{{site.baseurl}}/shows" title="shows">shows</a>
      <a class="pv3 no-underline white" href="{{site.baseurl}}/shop" title="shop">shop</a>
      <a class="pv3 no-underline white" href="{{site.baseurl}}/blog" title="blog">blog</a>
      <a class="pv3 no-underline white" href="#">contact</a>

    </nav>

  </div>

</nav>

</nav>
